<!DOCTYPE html>
{% extends 'flatpages/default.html' %}

<html lang="en">
{% block content %}
<br>
  <h2 style="text-align: center">Edit post</h2>
  <hr>
{% if post.author == request.user %}
  <form action="" method="post">
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}
      <input type="submit" value="Save"/>
  </form>
{% else %}
<h6 style="text-align: center">You can edit only yours posts</h6>
{% endif %}
<br>
    <input type=button value="Back" class="btn btn-secondary" onClick="javascript:history.go(-1);">
{% endblock content %}
</html>